@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap');
/* TODO: FIND BETTER FONT */
@import "tailwindcss";

:root {
  --background: #EFF2F9;
  --foreground: #171717;
  --hamburger-color: #6E7F8D;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #EFF2F9;
    --foreground: #171717;
  }
}

/* Montserrat: Modern Sans-Serif Font */
/* Sen: Clean Readable Font */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Montserrat", "Sen", Arial, Helvetica, sans-serif;
}

/* Neumorphism effect for StudentInfo component */
.neumorphism {
  box-shadow: -5px -5px 10px 0 rgba(174, 174, 192, 0.40), 5px 5px 10px 0 #FFF;
}

/* Text neumorphism effect for Skills title */
.text-neumorphism {
  text-shadow: -5px -5px 10px rgba(174, 174, 192, 0.40), 5px 5px 10px #FFF;
}
