@import "tailwindcss";

:root {
  --background: #EFF2F9;
  --foreground: #171717;
  --hamburger-color: #6E7F8D;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #EFF2F9;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Neumorphism effect for StudentInfo component */
.neumorphism {
  box-shadow: -5px -5px 10px 0 rgba(174, 174, 192, 0.40), 5px 5px 10px 0 #FFF;
}

/* Text neumorphism effect for Skills title */
.text-neumorphism {
  text-shadow: -5px -5px 10px rgba(174, 174, 192, 0.40), 5px 5px 10px #FFF;
}
